.pokemon_modal {
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.pokemon_image {
  display: flex;
  justify-content: center;
}

.pokemon_image img {
  width: 66.666667%;
}

.button_container {
  display: flex;
  gap: 0.5rem;
}
