.pokemon_modal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pokemon_image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokemon_image img {
  display: flex;
  width: 20em;
  align-items: center;
}

.button_container {
  display: flex;
  gap: 0.5rem;
}
