.card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  border-radius: 0.5rem;
  background-color: whitesmoke;
  opacity: 0.7;
  box-shadow: 5px 5px 5px rgb(126, 175, 224);
}

.dark .card {
  background-color: #475569;
  box-shadow: none;
}

.image_container {
  width: 150px;
  height: 150px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.image_container img {
  width: 100%;
}

.name {
  text-align: left;
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: capitalize;
}

.info {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5em;
  flex-direction: column;
  gap: 0.25rem;
  padding: 1.25rem;
}


.skeleton {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
