.title {
  font-size: 2rem;
  font-weight: 600;
  text-transform: capitalize;
}

.sub-title {
  font-size: 1.25rem;
  font-weight: 500;
  text-transform: capitalize;
}

.title-regular {
  font-size: 1.125rem;
  font-weight: 400;
  text-decoration: none;
}

.body {
  font-size: 1rem;
  font-weight: 500;
}

.title-body {
  font-size: 1rem;
  font-weight: 600;
}

.sub-body {
  font-size: 0.875rem;
  font-weight: 400;
}