.container {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.evolutions_container {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

@media (min-width: 768px) {
  .evolutions_container {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    display: grid;
  }
}

@media (min-width: 1024px) {
  .evolutions_container {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    display: grid;
  }
}
