.title {
  font-size: 2rem;
  font-weight: bold;
}

.stats li {
  margin-top: 0.25rem;
  border-bottom-width: 2px;
  border-color: black;
  padding-bottom: 0.25rem;
}

.dark .stats li {
  margin-top: 0.25rem;
  border-bottom-width: 2px;
  border-color: #475569;
  padding-bottom: 0.25rem;
}
