* {
  font-family: 'Courier New', Courier, monospace !important;
}

.pokemons_container {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.pokemon {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 25vw;
  border-radius: 10px;
  padding: 5px;
  background-color: whitesmoke;
  opacity: 0.7;
  box-shadow: 5px 5px 5px rgb(126, 175, 224);
}

.pokemon:hover {
  background-color: red;
}

.bpokemon:active {
  background-color: blue;
  transform: scale(1.05);
}
