 
.spinner {
  @extend .flex;
  height: 3rem;
  width: 3rem;
  animation: spin 1s linear infinite;
  fill: #3b82f6;
  color: #e5e7eb;

  :global(.dark) & {
    color: #4b5563;
  }
}

.spinner_container {
  @extend .flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}
