.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  margin-bottom: 1rem;
  width: 95%;
  background-color: white;
  padding-left: 1.75rem;
  padding-right: 1.75rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

:global(.dark) .header {
  background-color: #475569;
  box-shadow: none;
}

.header_container {
  @extend .container;
  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
}

.header_left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.header_logo {
  width: 150px;
}

.header_quote {
  font-size: 1rem;
  font-weight: 300;
}

.header_navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
}

.header_navigation a {
  cursor: pointer;
  font-size: 1.125rem;
  font-weight: 400;
  &:hover {
    text-decoration: underline;
  }
}